.main_container{
    width:100%;
    display: flex;
    justify-content: center;
    /* background-color:#d01818; */
    background-color:#ffffff;
    min-height: calc(100vh);
    flex-grow: 1;
}

.container{
    width: 962px;
    display: flex;
    justify-content: center;
}

.left_container{
    margin-right:32px;
}
@media screen and (max-width:1060px) {
    .left_container{
        margin-right:0px
    }
    .right_container{
        display: none;
    }
}